<h1>My tasks</h1>

<ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item"><input type="checkbox">
      <%= link_to task.title, task_path(task) %>
      <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fa-sharp fa-solid fa-trash"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'add a new task', new_task_path, class: 'btn btn-primary mt-2' %>
